@import './reset.css';

@mixin changePosition ($position)  {
    position: absolute;
    transform: translate(-50%, -50%);
    @if $position == vertical {
        top: 50%;
    } @else if $position == horizontal {
        left: 50%;
    } @else if $position == center {
        left: 50%;
        top: 50%;
    } @else {
        @error "Qué dices?";
    }
    
}

body{
    background-color:rgb(214, 181, 181);
}

.rectangle{
    @include changePosition(vertical);
    width: 150px;
    height: 150px;
    background-color: purple;
}


div{
    color: blue;
    font-weight: bold;
    font-size: 30px;

    &--highlighted{
        background-color: blue;
    }

    p {
        color: greenyellow;
    }

}

.container {
    position: relative;
    width: 400px;
    height: 600px;

    p {
        margin-top: 20px;

        &:hover {
            color: teal;
        }
    }

    img {
        margin-top: 20px;
    }

}

.aside {
    width: 30%;
    
    &__menu {
        width: 100%;

        &__li {
            cursor: pointer;

            &__icon {
                width: 32px;
                height: 32px;
            }

            &-text {
                font-weight: 400;
            }

            &-activeText {
                background-color: #f1f1f1;
            }
        }

        &-header {
            font-weight: 800;
        }

    }


}
