@import './reset.css';
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');


*{
    box-sizing: border-box;
}
body {
    background-color: rgb(58, 58, 58);
    font-family: 'Roboto', sans-serif;
    font-size: 16px;

}

.menu {
    background-color: rgb(22, 22, 22);
    margin: 100px;
    width: 300px;
    height: 420px;
    &__title {
        display:flex;
        align-items: center;
        justify-content: center;
        background-color: rgb(14, 14, 14);
        height: 16%;
        text-align: center;
        color: #cfcfcf;
        text-transform: uppercase;
        letter-spacing: 0.7rem;
        font-size: 1.4rem;
    }
    &__element {
        height: 14%;
        border-top: 2px solid rgba(0, 0, 0, 0.288);
        & a {
            height: 100%;
            display: flex;
            align-items: center;
            text-decoration: none;
            color: white;
        }
        &__img {
            height:40%;
            margin: 20px;
        }
        &__text {
            text-decoration: none;
        }
    }

}